{% extends 'base.html' %}
{% load i18n static %}
{% block css %}
  <link href="{% static 'vendor/leaflet/leaflet.css' %}" rel="stylesheet"/>
  <style>
    #map {
      width: 100%;
      height: 400px;
    }
  </style>
{% endblock css %}
{% block content %}
  <div class="row">
    <div class="col-md-9">
      <h3>{{ claim.category.name }}</h3>
      <p class="float-right">
        {% if claim.verified %}
          <span class="badge badge-primary">
            <i class="fas fa-check-circle"></i>
            {% trans 'Verified' %}
          </span>
        {% else %}
          <span class="badge badge-danger">
            {% trans 'No verified' %}
          </span>
        {% endif %}
      </p>
      <p>
        <b>{% trans 'Date' %}:</b> {{ claim.date }}
      </p>
      <p>
        <b>{% trans 'Address' %}:</b> {{ claim.address }}
      </p>
      {% if claim.user %}
        <p>
          {% trans 'By' %} <i>{{ claim.user.username }}</i>
        </p>
      {% endif %}
      {% if claim.point %}
      <div id="map"></div>
      {% endif %}
      <h5>
        {% trans 'Description' %}
      </h5>
      <p>
        {{ claim.description }}
      </p>
    </div>
    <div class="col-md-3">
      <a class="btn btn-sm btn-block btn-outline-success" href="{% url 'claims:claim-create' %}">
        <i class="fas fa-plus"></i>
        {% trans 'New claim' %}
      </a>
      <hr/>
    </div>
  </div>
{% endblock content %}
{% block javascript %}
  <script src="{% static 'vendor/leaflet/leaflet.js' %}"></script>
  <script src="{% static 'js/claim-detail-map.js' %}"></script>
  {% if claim.point %}
  <script>
    drawMap('map', {{ claim.point.y }}, {{ claim.point.x }});
  </script>
  {% endif %}
{% endblock javascript %}
