{% extends 'base.html' %}
{% load i18n %}
{% block content %}
  <div class="row">
    <div class="col-md-9">
      <h3>{{ claim.category.name }}</h3>
      <p>
        <b>{% trans 'Date' %}:</b> {{ claim.date }}
      </p>
      <p>
        <b>{% trans 'Address' %}:</b> {{ claim.address }}
      </p>
      {% if claim.user %}
        <p>
          {% trans 'By' %} <i>{{ claim.user.username }}</i>
        </p>
      {% endif %}
      <div class="claim-map"></div>
      <h5>
        {% trans 'Description' %}
      </h5>
      <p>
        {{ claim.description }}
      </p>
    </div>
    <div class="col-md-3">
      <a class="btn btn-sm btn-block btn-outline-success" href="{% url 'claims:claim-create' %}">
        <i class="fas fa-plus"></i>
        {% trans 'New claim' %}
      </a>
      <hr/>
    </div>
  </div>
{% endblock content %}
